/* Style de base pour le formulaire */
.form-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Style pour les boutons de navigation */
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-button:hover {
    background-color: #0056b3;
}

/* Style pour les sections du formulaire */
.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

/* Style pour les titres de section */
.form-step h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

/* Style pour les étiquettes (labels) */
.form-group label {
    font-weight: bold;
    color: #333;
}

/* Style pour les champs de texte et les zones de texte */
.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

/* Style pour les boutons "Précédent" et "Suivant" */
.navigation-button[data-action="precedent"] {
    background-color: #ccc;
    color: #333;
}

/* Style pour le bouton Submit */

.ss{
    font-family: monospace;
}
.submit-button {
    display: block;
    margin: 0 auto;
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: darkgreen; /* Couleur de fond au survol */
}

h3{
    text-align: center;
}

/* Ajoutez plus de styles personnalisés en fonction de vos préférences */
