/* Style pour le div des filtres */
#filters {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
}

#filters h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

#filters ul {
    list-style: none;
    padding: 0;
}

#filters li {
    display: inline;
    margin-right: 10px;
}

#filters a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

#filters a:hover {
    color: #0056b3;
}
