@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}


 <!-- Header -->
        <header class="ex-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <h1 class="text-center">Votre Cv pour le post de Dev</h1>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </header> <!-- end of ex-header -->
        <!-- end of header -->

         <!-- Basic -->
        <div class="ex-form-1 pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="text-box mt-5 mb-5">
                            <p class="mb-4">Remplir les case suivantes pour s'inscrire'. Déjà inscrit?<a class="blue" href="https://localhost:7248/FrontOffice/Login">Connectez-vous</a></p>

                            <!-- Sign Up Form -->
                            <form action="" method="POST">
                                <div class="mb-4 form-floating">
                                    <input type="email" class="form-control" name="Email" id="floatingInput" placeholder="Adresse Email">
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="text" class="form-control" id="floatingInput2" placeholder="Nom">
                                    <label for="floatingInput">Nom</label>
                                </div>
                                  <div class="mb-4 form-floating">
                                    <input type="text" class="form-control" id="floatingInput2" placeholder="Prenom">
                                    <label for="floatingInput">Prenom</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input type="date" class="form-control" id="floatingPassword">
                                    <label for="floatingPassword">Date de Naissance</label>
                                </div>
                                   <div class="mb-4 form-floating">
                                    <input type="text" class="form-control" id="floatingInput2" placeholder="Adresse" name="Adresse">
                                    <label for="floatingInput">Adresse</label>
                                </div>
                               
                                <button type="submit" class="form-control-submit-button">Sign up</button>
                            </form>
                            <!-- end of sign up form -->

                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of ex-basic-1 -->
        <!-- end of basic -->