@{
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}
@model List<Annonce>;


           <div class="col-lg-6">
                        <div class="text-container">
                            <h1 class="h1-large">JOB-IT vous aide à  trouver un emploi de façon <span class="replace-me">Rapide, Efficace, Assuré</span></h1>
                          <p class="p-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, neque ut vanic barem ultrices sollicitudin</p>
                            <a class="btn-solid-lg" href="sign-up.html">Inscrivez-vous</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6">
                      
                    </div> <!-- end of col -->

                     <!-- Details 1 -->

               
     

   <div id="details" class="basic-1 bg-gray">
    <div class="container">
        
        @foreach (Annonce annonce in @ViewBag.all)
        {
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>@annonce.postes.service.nomService</h2>
                        <h4>@annonce.postes.nomPoste</h4>
                        <p>@annonce.descriptions</p>
                   
                        <a class="btn-solid-reg"  href="https://localhost:7248/FrontOffice/Cv">Postuler</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="~/Image/details-1.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <hr /> <!-- Add a horizontal line to separate announcements -->
        }
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
